h1 {
  font-family: "museoModerno" sans-serif;
  font-weight: 700;
  font-size: 42px;
}
h2 {
  font-family: "museoModerno" sans-serif;
  font-weight: 500;
  font-size: 20px;
}
h3 {
  font-family: "museoModerno" sans-serif;
  font-weight: 300;
  font-size: 15px;
}
span {
  color: #00ffff;
  font-weight: 900;
}
#valor1 {
  color: #fff455;
}
#valor2 {
  color: #fff455;
}
#valor3 {
  color: #fff455;
}
p {
  font-family: "museoModerno" sans-serif;
  font-weight: 100;
  font-size: 20px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background: #0065f9;
  color: #09111d;
  font-family: "Roboto", sans-serif;
}
.videoFondo{
  z-index: -1;
  position: absolute;
}
.container {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 15% 15% 1fr 1fr;
  row-gap: 1px;
  grid-template-rows: 10% 1fr 1fr 1fr 1fr;
  height: 100vh;
}
.barra {
  display: flex;
  grid-area: logo;
  grid-column: 1/7;
  grid-row: 1;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
}
.item {
  display: flex;
  flex-direction: column;
  grid-area: inicio;
  grid-column: 1/7;
  grid-row: 2/7;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
  background-color: #08080a92;
  color: #f6f6f6;
  align-items: center;
  text-align: left;
  padding: 10px;
  padding-left: 16px;
  padding-right: 16px;
  height: 100vh;
}
.elementosInicio {
  margin-top: 40%;
  height: 80%;
}
.inputsUser {
  width: 80vw;
  display: flex;
  flex-direction: column;
}
.inputsUser h3 {
  padding-left: 8px;
  margin-bottom: 5px;
}
.inputNombre {
  background-color: #f6f6f6;
  border-radius: 16px;
  height: 40px;
  width: 330px;
  padding: 12px;
}
.itemPaciente {
  display: none;
  flex-direction: column;
  grid-area: inicio;
  grid-column: 2/6;
  grid-row: 2/6;
  height: 80vh;
  margin-top: 16px;
  border-radius: 15px;
  background-color: #08080a92;
  color: #f6f6f6;
  align-items: center;
  padding: 15px;
}
.itemPaciente h2 {
  font-weight: 700;
}
.btn {
  font-family: "museoModerno", sans-serif;
  font-weight: bold;
  color: #f6f6f6;
  background-color: #19172d;
  height: 45px;
  width: 330px;
  font-size: 18px;
  border-radius: 20px;
  transition: animate 15s ease-in;
}
.btn:hover {
  background-color: #3dc2ec;
}
.video {
  border-radius: 20px;
}
.off {
  display: none;
}
.elementos {
  padding: 24px;
  display: flex;
  flex-direction: row;
  width: 100vw;
}
.elementos img {
  padding-left: 5%;
  height: 300px;
}
.elementos .textos {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.elementos .textos h3 {
  font-weight: 700;
}
@media only screen and (max-width: 800px) {
  body {
    height: 80vh;
  }
  .container {
    height: 100vh;
  }
  .item{
    height: 90vh;
  }
  .itemPaciente {
    margin-top: 0;
    border-radius: 0;
    width: 100vw;
    height: 91vh;
  }
  .elementosInicio{
    height: 50vh;
  }
}
